.main-footer__inner {
  background-color: rgba(44, 52, 62, 1);
  display: flex;
  align-items: center;
  padding: 47px 85px;
  margin-top: 200px;
  &-logo {
    margin-right: 103px;
  }
  &-icons {
    display: inline-block;
    align-items: center;
    
    & img {
      margin-right: 24px;
    }
  }
  &-list {
    display: flex;
    gap: 33px;
    padding-left: 0;
    margin-right: 309px;
   
    
  }
}
